* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.codeShow {
    background: rgb(231,234,237);
    /*border: 1px solid black;*/
    position: relative;
    left:0;
    top:0;
    width: 30%;
    height: 100vh;
    /* border: 1px solid black; */
    overflow: auto;
    padding-left: 10px;
}
    /* 隐藏滚动条 */
::-webkit-scrollbar {
        display: none;
    }
.pikachu {
    /*border: 1px solid red;*/
    position: fixed;
    width: 70%;
    height: 100vh;
    top:0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    /*top: 10px;*/
    z-index: 1;
}
.buttons button {
    margin-bottom: 10px;
    padding: 5px 15px;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.25);
    border-radius: 5px;
}

/*手机适配*/
@media (max-width: 500px) {
    body {
        font-weight: normal;
    }
    .codeShow {
        position: relative;
        width: 100%;
        top: 60vh;
        overflow: auto;
        height: 40vh;
    }
    .pikachu {
        width: 100%;
        height: 60vh;
        top: 0;
        left: 0;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 10px;
        bottom: 10vh;
        z-index: 1;
    }

}